@model dynamic

<div class="col-12 col-xl-4">
    <div class="card h-100">
        <div class="card-header pb-0 p-3">
            <h6 class="mb-0">Innstillinger for Plattform</h6>
        </div>
        <div class="card-body p-3">
            <h6 class="text-uppercase text-body text-xs font-weight-bolder">Konto</h6>
            <ul class="list-group">
                <li class="list-group-item border-0 px-0">
                    <div class="form-check form-switch ps-0">
                        <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" checked>
                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">Send meg e-post når noen følger meg</label>
                    </div>
                </li>
                <li class="list-group-item border-0 px-0">
                    <div class="form-check form-switch ps-0">
                        <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault1">
                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault1">Send meg e-post når noen svarer på innlegget mitt</label>
                    </div>
                </li>
                <li class="list-group-item border-0 px-0">
                    <div class="form-check form-switch ps-0">
                        <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault2" checked>
                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault2">Send meg e-post når noen nevner meg</label>
                    </div>
                </li>
            </ul>
            <h6 class="text-uppercase text-body text-xs font-weight-bolder mt-4">Applikasjon</h6>
            <ul class="list-group">
                <li class="list-group-item border-0 px-0">
                    <div class="form-check form-switch ps-0">
                        <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault3">
                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault3">Nye lanseringer og prosjekter</label>
                    </div>
                </li>
                <li class="list-group-item border-0 px-0">
                    <div class="form-check form-switch ps-0">
                        <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault4" checked>
                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault4">Månedlige produktoppdateringer</label>
                    </div>
                </li>
                <li class="list-group-item border-0 px-0 pb-0">
                    <div class="form-check form-switch ps-0">
                        <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault5">
                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault5">Abonner på nyhetsbrev</label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
