<section class="w3l-stats py-5" id="stats">
    <div class="gallery-inner container py-lg-0 py-3">
        <div class="row stats-con pb-lg-3">
            <div class="col-lg-3 col-6 stats_info counter_grid">
                <p class="counter">@ViewBag.TotalDestination</p>
                <h4>Destinasjon</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid1">
                <p class="counter">@ViewBag.TotalGuide</p>
                <h4>Reiseguider</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-5">
                <p class="counter">50@*@ViewBag.UserCount*@</p>
                <h4>Fornøyde Kunder</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid2 mt-lg-0 mt-5">
                <p class="counter">50</p>
                <h4>Priser</h4>
            </div>
        </div>
    </div>
</section>
