@if (User.Identity!.IsAuthenticated)
{
    <div class="leave-comment-form mt-5" id="reply">
        <h4 class="side-title mb-2">Skriv en kommentar</h4>
        <p class="mb-4">Din e-postadresse vil ikke bli publisert. Obligatoriske felt er merket med *</p>
        <form id="commentForm" asp-action="AddComment" asp-controller="Comment" asp-area="" method="post">

            <div class="form-group">
                <textarea id="txtComment" name="Message" class="form-control" placeholder="Din kommentar*" required=""
                      spellcheck="false"></textarea>
            </div>
            <div class="input-grids row">
                <div class="form-group col-lg-6">
                    <input type="text" id="txtName" name="Name" class="form-control" placeholder="Ditt navn*"
                           required="">
                </div>
                <div class="form-group col-lg-6">
                    <input type="email" id="txtEmail" name="Email" class="form-control" placeholder="E-post*" required="">
                </div>
            </div>
            <div class="form-group col-lg-6">
                <input type="hidden" id="txtDestinationId" name="DestinationId" class="form-control" value="@ViewBag.DestinationId" required="">
            </div>
            <div class="submit text-right">
                <button id="btnAddComment" class="btn btn-style btn-primary">Legg ut kommentar</button>
            </div>
        </form>
    </div>
}

else
{
    <br/>
    <h3>Du må være medlem for å kunne legge igjen en kommentar.</h3>
}