<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="/Admin/Dashboard/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>
     <li class="menu-divider"></li> 
    <li class="menu-item">
        <a href="/Admin/AdminDestination/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-map"></i>
            <div data-i18n="Analytics">Reisemål</div>
        </a>
    </li>
      <li class="menu-divider"></li> 
    <li class="menu-item">
        <a href="/Admin/Comment/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-comment"></i>
            <div data-i18n="Analytics">Kommentarer</div>
        </a>
    </li>
      <li class="menu-divider"></li> 
    <li class="menu-item">
        <a href="meldinger.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-envelope"></i>
            <div data-i18n="Analytics">Meldinger</div>
        </a>
    </li>
      <li class="menu-divider"></li> 
        <li class="menu-item">
            <a href="reservasjoner.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-calendar-check"></i>
                <div data-i18n="Analytics">Reservasjoner</div>
            </a>
        </li>
      <li class="menu-divider"></li> 
    <li class="menu-item">
        <a href="guider.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-book"></i>
            <div data-i18n="Analytics">Guider</div>
        </a>
    </li>
      <li class="menu-divider"></li>
      <li class="menu-item">
          <a href="/Admin/User/Index" class="menu-link">
              <i class="menu-icon tf-icons bx bx-smile"></i>
              <div data-i18n="Analytics">Users</div>
          </a>
      </li>
</ul>
