@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
    Layout = "_UserLayout";
}

<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container">
            <h2 class="title">Logg Ut</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="#url">Logg Ut</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>  </li>
            </ul>
        </div>
    </div>
</section>
<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Default/Index", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
