<header id="site-header" class="fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg stroke">
      <h1><a class="navbar-brand mr-lg-5" href="/Default/Index">
        Globetrotter
      </a></h1>
      
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/Default/Index">Hjem<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/Guide/Index/">Om Oss</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Destination/Index">Destinasjoner</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Packages/Index">Pakker</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Admin/Dashboard/Index/">Admin</a>
          </li>
        </ul>
      <div class="d-lg-block d-none">
        <a href="/Message/Add/" class="btn btn-style btn-secondary">Kontakt oss</a>
      </div>
      <partial name="_LoginPartial"/>
    </nav>
  </div>
</header>
