@model System.Collections.Generic.List<Web.CQRS.Result.DestinationResult.GetAllDestinationQueryResult>

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
  int i = 0;
}

<h2>CQRS VERDIER</h2>

<div class="row">
        <div class="col-12">
        <div class="card">
            <h3 class="card-header" style="text-align: center;">Vår Destinasjoner</h3>
            <div class="table-responsive text-nowrap">
              
                <table class="table">
                    <thead class="table-primary">
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">#</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Destinasjon</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Antall Personer</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Pris</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Dag-Natt</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Slette</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Redigere</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  @foreach(var item in Model)
                  {
                    <tr>
                      @{i = i + 1;}
                      <td>
                        <div class="d-flex px-2">
                          @i
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold">@item.City</p>
                      </td>
                      <td>
                        <span class="text-xs font-weight-bold">@item.Capacity</span>
                      </td>
                      <td >
                        <span class="text-xs font-weight-bold">NOK @item.Price</span>
                      </td>
                      <td >
                        <span class="text-xs font-weight-bold">@item.DayNight</span>
                      </td>
                      <td >
                        <a href="/Admin/DestinationCqrs/Delete/@item.Id" class="dropdown-item"><i class="bx bx-trash me-1 text-danger"></i> Slette</a>
                      </td>

                      <td >
                        <a href="/Admin/DestinationCqrs/Details/@item.Id" class="dropdown-item"><i class="bx bx-edit-alt me-1 text-warning"></i> Rediger</a>
                      </td>

                    </tr>
                  }
                  </tbody>
                </table>
              <button class="btn btn-primary" onclick="window.location.href='/Admin/DestinationCqrs/Add'"><i class="fa fa-plus"></i> Legg til en ny Destinasjon</button>
              </div>
            </div>
          
          </div>
        </div>

